<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        <%= t :who_is %>
      </h3>
      <p>
        Angelica is Graduating from Sequoia High School in Redwood City, and she wishes to attend Cal State East Bay, to major in nursing, her life-long dream.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        Why does she want to be a Nurse?
      </h3>
      <p>
        Angelica speaks fluent Spanish and English. Being a nurse, she will be able to help more our community. Not only help those people in need who don't speak English, but to care of the entire community.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        Which programs has Angelica been to?
      </h3>
      <p>
        Angelica has been involved in a number of programs which main purpose is to better the community such as the program of the North Fair Oaks Youth Initiative. She enjoys helping and giving back to those in need.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        How am I going to help her?
      </h3>
      <p>
        You can help with this donation which is tax deductible and gives you access to a raffle.
      <p>
    </div>
  </div>
</div>
