<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4>Grand prize</h4>
      <p>One pair of Aeromexico roundtrip tickets including a 4-day/3 nights luxury suite hotel package at Ixtapa Zihuatanejo</p>
    </li>
    <li id="section-2">
      <h4>2nd prize</h4>
      <p>$1,000 in gift cards from Chavez Supermarkets</p>
    </li>
    <li id="section-3">
      <h4>3rd prize</h4>
      <p>$1,000 in gift cards from Deseo Tequila Lounge</p>
    </li>
    <li id="section-4">
      <h4>Other prizes</h4>
      <p>
        2 Chrome Tablets<br />
        2 Flat Screen TVs<br />
        2 iPads<br />
        $300 in gift cards to movie theaters<br />
      </p>
    </li>
  </ul>
</div>
