# Hi there!
# These are the settings for Selfstarter.
# This is more tidy than changing the HTML if all you want to do is rename things and swap out images

# You should totally change the HTML and CSS though
# Checkout app/assets/stylesheets/variables.css.scss to change around the CSS quickly

# Set your project goal here - dollar amount
# NOTE: if you manually want to adjust your progress to test the site, head over to the Order model (app/models/order.rb)
project_goal: 10000

# If you want to edit the FAQ, head over to app/views/preorder/homepage/_faqs.html.erb

# This'll be both the page title (<title></title>) and the name in the header
product_name: "Help Angelica become a Nurse"

# This will be used in sentences like Hooray You've just reserved product_description
product_description: ""

# An image showcasing your product -- it'll show up when you pin your product
# It should be in app/assets/images
product_image_path: "angelica.jpg"

# The message on the preorder page, Lockitron's is ""
value_proposition: "The donations here will help Angelica win a $10,000.00 scholarship to become a nurse."

# YouTube or Vimeo Video URL (The embed URL, without the query string options)
# Replace /embed/ in your video url path with /v/ for video playback to work.
video_embed_url: "https://www.youtube.com/v/tBqnNiK8-iY"

# Amazon settings -- you'll need an Amazon Payments account, sign up here --> http://bit.ly/SGksTv

# To find your access key and secret key, head over to here --> http://bit.ly/R4I4ky (Follow that guide in the Seller Central page)
amazon_access_key: "YOUR_AMAZON_ACCESS_KEY"
amazon_secret_key: "YOUR_AMAZON_SECRET_KEY"
price: 	19.95

# if use_payment_options is set to true, then a set of radio buttons will be displayed with various payment options.
# There is a PaymentOption model for storing info about payment options.  To set up your payment options you should
# put code in seeds.rb, then run rake db:seed
use_payment_options: true

payment_description: "Donation to help Angelica become a nurse."

# Amazon limits how much we can charge people with their Multi-Use tokens.
# You probably should add some leeway to account for international shipping
# this value will be added to the price to create a charge limit
charge_limit: 25.00

# Stats settings

# On Lockitron, it's "backers"
primary_stat: "donators"
# This'll show up in the tweet as, "I'm backer number ..."
primary_stat_verb: 'donator'

# The 2nd call to action button, towards the middle-ish of the page
middle_reserve_text: "Donate Now"

# When the project should end
expiration_date: <%= DateTime.new(2015, 8, 3) %>

# Text to show inside the progress bar, when the goal reaches/exceeds 100%
progress_text: "Fully donated"

# Call to action section

# On Lockitron, it's "First Batch Ships in March 2013"
ships: "Help Angelica live her dream"

# On Lockitron, it's "Reserve Now"
call_to_action: "Donate Now"
# On Lockitron, this is "Only $149 for a limited time"
price_human: "Donation is tax deductible"

# The paragraph below the price. You'd probably say something about how you're not going to charge them before it ships (so it's less risky).
dont_give_them_a_reason_to_say_no: "You can ask for your receipt. Just send an email to angelica_slt@yahoo.com with your information."

# Social Stuff
facebook_app_id: "1234567890"
# Tweets are prefixed with "I'm #{Settings.primary_stat} number X for #{Settings.product_name}"
# Maybe mention something about your product vision -- e.g. "to replace keys with my phone"
tweet_text: "to donate"

# If you want to change the images for the key points (e.g. "Kickstarter is not a store")
# They're in app/assets/images/#{pointer_number}-background.png
# So, the first key point, it's at app/assets/images/1-background.png
# Alternatively, change it up in app/assets/stylesheets/homepage/key_points.css.scss
