<div id="header">
  <div class="wrapper clearfix">
    <h1 id="lockitron_header"><%= Settings.product_name %></h1>
    <ul>
    	<li><a href="preorder/lang/en">English</a>/</li>
    	<li><a href="preorder/lang/es">Español</a></li>
    </ul>
  </div>
</div>